body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    height: 100vh;
    background-color: #333; /*can remove if needed*/
}

header {
    text-align: center;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.business-name h1 {
    margin: 0;
    padding: 20px 0;
}

.navbar {
    padding: 10px 20px;
}

.nav-links li {
    display: inline;
    padding: 0 15px;
}

.nav-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.nav-links a {
    text-decoration: none;
    font-size: 18px;
    color: #000; 
    transition: color 0.3s ease;
}

.nav-links a.active {
    font-weight: bold;
}


.nav-links a:hover {
    color: #555; 
}

.nav-toggle {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    border: none;
    color: #333; 
    font-size: 2rem;
    cursor: pointer;
}

.nav-toggle .fas {
    display: block;
}

.nav-links.active {
    display: block; 
}

/* The side panel style */
.sidepanel {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

/* The side panel links */
.sidepanel a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

/* The close button */
.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style the button that opens the sidepanel */
.openbtn {
    display: none;
    font-size: 30px;
    cursor: pointer;
    background-color: #111;
    color: white;
    border: none;
    padding: 10px 15px;
    position: absolute;
    top: 0;
    left: 0;
}


.openbtn:hover {
    background-color: #444;
}
  

/* smaller screens */
@media (max-width: 570px) {
    .openbtn {
        display: block;
    }

    .nav-toggle {
        display: block;
    }

    .nav-links {
        display: none; 
    }
}

/****************************************************************************
START NEW CSS HERE: STUFF ON TOP ARE MOSTLY FOR NAV BAR
****************************************************************************/
.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/hero.jpg");
  
    /* Set a specific height */
    height: 50vh;
  
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

  }
.hero-text {
  text-align: center;
  color: white; /* change color if needed */
  transform: translateY(170px);
}


.call-to-action {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: #D3D3D3; /* change color if needed */
    padding: 30px;
    position: relative;
    overflow: hidden;
    min-height: 10vh;
    height: auto;
}

/*------------------------CTA Text 1-----------------------*/
.cta-text-1 {
    background: #A9A9A9; /* change color if needed */
    border-radius: 50px;
    padding: 20px 60px;
    margin-left: auto;
    color: white; /* change color if needed */
    position: absolute;
    right: -40px;
    top: 50%;
    transform: translateY(-50%);
    min-width: 60%;
    max-width: 70%;
    height: 15vh;
}

/*------------------------CTA Text 2-----------------------*/
.cta-text-2 {
    background: #A9A9A9; /* change color if needed */
    border-radius: 50px;
    padding: 20px 60px;
    margin-left: auto;
    color: white; /* change color if needed */
    position: absolute;
    left: -40px;
    top: 50%;
    transform: translateY(-50%);
    min-width: 60%;
    max-width: 70%; 
    height: 15vh;
}


.call-to-action p {
    padding-top: 47px;
    margin: 0;
    font-size: 1.2em;
}

.call-to-action a {
    text-decoration: none; 
    font-weight: bold;
    color: #FFFFFF; /* change color if needed */
}

/* Image Layout Styles */

/*TODO : prob fix so image isnt so big when full screen*/
.container {
    display: flex;
    width: 90vw;
}

.panel {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh;
    border-radius: 50px;
    color: white;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: flex 0.7s ease-in;
}

.panel h3 {
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
}

.panel.active {
    flex: 5;
}

.panel.active h3{
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}

@media(max-width: 600px) {
    .container {
        width: 100vw;
    }

    .panel:nth-of-type(4),
    .panel:nth-of-type(5){
        display: none;
    }
}


/*FOOTER */
footer {
    background: #333;
    color: white;
    padding: 20px 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 20px;
    gap: 50px;
}

.newsletter, .hours {
    width: 50%;
}

footer form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer input[type=email], footer input[type=text], footer input[type=submit] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 95%;
}

footer input[type=submit] {
    background: #444; /* Darker background for the submit button */
    color: white;
    cursor: pointer;
}

footer input[type=submit]:hover {
    background: #555;
}

.hours p {
    margin: 0;
    line-height: 1.5;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        text-align: center;
    }

    .newsletter, .hours {
        width: 100%;
    }
}



