
/****************************************************************************
START NEW CSS HERE: STUFF ON TOP ARE MOSTLY FOR NAV BAR
****************************************************************************/
.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/hero.jpg");
  
    /* Set a specific height */
    height: 60vh;
  
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.hero-text {
  text-align: center;
  color: white; /* change color if needed */
  transform: translateY(170px);
}


.call-to-action {
    display: flex;
    background: #D3D3D3; /* change color if needed */
    padding: 30px;
    position: relative;
    overflow: hidden;
    min-height: 10vh;
    height: auto;
}

/*------------------------Justify CTA text-----------------------*/

.justify-call-to-action-1{
    justify-content: flex-end;
}
.justify-call-to-action-2{
    justify-content: flex-start;
}

/*---------------------CTA Containter + hover feature ----------*/

.container-cta-text{
    position: relative;
    width:80%;
    transition: width 1s;
}

.container-cta-text:hover {
    width: 100%;
}
/*------------------------CTA Text 1 and 2-----------------------*/
.cta-text-1 {
    border-radius: 70px 0px 0px 70px;
    right: -40px;
    text-align:left;
}/*diffrences in cta-text*/


.cta-text-2 {
    border-radius:  0px 70px 70px 0px;
    left: -40px;
    text-align:right;
}/*diffrences in cta-text*/

/*Overall same cta-text-structure*/
.cta-text-1, .cta-text-2 {
    /* change colors if needed */
    background-color: #A9A9A9;
    color: white; 

    padding: 20px 60px;
    margin-left: auto;

    
    position: absolute;
    top: 50%;

    transform: translateY(-50%);
    min-width: 60%;
    max-width: 70%;

    /*VERTICAL-CENTER THE TEXT IN DIV*/
    height: 15vh;
    vertical-align: middle;
    line-height: 15vh;
    /*Text size and such*/
    margin: 0;
    font-size: 1.2em;
}
/*CTA Text end*/
/*------------------------change a-----------------------*/

.call-to-action a {
    text-decoration: none; 

    color: #FFFFFF; /* change color if needed */
}

/* Image Layout Styles */

/*TODO : prob fix so image isnt so big when full screen*/
.container {
    display: flex;
    width: 90vw;
}

.panel {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh;
    border-radius: 50px;
    color: white;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: flex 0.7s ease-in;
}

.panel h3 {
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
}

.panel.active {
    flex: 5;
}

.panel.active h3{
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}

@media(max-width: 600px) {
    .container {
        width: 100vw;
    }

    .panel:nth-of-type(4),
    .panel:nth-of-type(5){
        display: none;
    }
}


/*FOOTER */
footer {
    background: #333;
    color: white;
    padding: 20px 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 20px;
    gap: 50px;
}

.newsletter, .hours {
    width: 50%;
}

footer form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer input[type=email], footer input[type=text], footer input[type=submit] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 95%;
}

footer input[type=submit] {
    background: #444; /* Darker background for the submit button */
    color: white;
    cursor: pointer;
}

footer input[type=submit]:hover {
    background: #555;
}

.hours p {
    margin: 0;
    line-height: 1.5;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        text-align: center;
    }

    .newsletter, .hours {
        width: 100%;
    }
}



