/* Coolors Exported Palette - https://coolors.co/9c7c3e-eeae56-d42a2a-edaa4e-f5f5f5 */
/* SCSS HSL */
$dark-goldenrod: hsla(40, 43%, 43%, 1);
$earth-yellow: hsla(35, 82%, 64%, 1);
$persian-red: hsla(0, 67%, 50%, 1);
$earth-yellow-2: hsla(35, 82%, 62%, 1);
$white-smoke: hsla(0, 0%, 96%, 1);

/* SCSS RGB */
$dark-goldenrod: rgba(156, 124, 62, 1);
$earth-yellow: rgba(238, 174, 86, 1);
$persian-red: rgba(212, 42, 42, 1);
$earth-yellow-2: rgba(237, 170, 78, 1);
$white-smoke: rgba(245, 245, 245, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #9c7c3eff, #eeae56ff, #d42a2aff, #edaa4eff, #f5f5f5ff);
$gradient-right: linear-gradient(90deg, #9c7c3eff, #eeae56ff, #d42a2aff, #edaa4eff, #f5f5f5ff);
$gradient-bottom: linear-gradient(180deg, #9c7c3eff, #eeae56ff, #d42a2aff, #edaa4eff, #f5f5f5ff);
$gradient-left: linear-gradient(270deg, #9c7c3eff, #eeae56ff, #d42a2aff, #edaa4eff, #f5f5f5ff);
$gradient-top-right: linear-gradient(45deg, #9c7c3eff, #eeae56ff, #d42a2aff, #edaa4eff, #f5f5f5ff);
$gradient-bottom-right: linear-gradient(135deg, #9c7c3eff, #eeae56ff, #d42a2aff, #edaa4eff, #f5f5f5ff);
$gradient-top-left: linear-gradient(225deg, #9c7c3eff, #eeae56ff, #d42a2aff, #edaa4eff, #f5f5f5ff);
$gradient-bottom-left: linear-gradient(315deg, #9c7c3eff, #eeae56ff, #d42a2aff, #edaa4eff, #f5f5f5ff);
$gradient-radial: radial-gradient(#9c7c3eff, #eeae56ff, #d42a2aff, #edaa4eff, #f5f5f5ff);