/*Organize image and text fields*/
main{
    background-color: var(--warm-yellow);
    display: flex;
}
body{
    background-color: var(--warm-yellow);
}


/*image position*/
.img_cat1 {
    float: left;
    padding: 80px 50px 80px 150px;
}
/*set up tesxt display*/
.our-mission {
    color: var(--orange-brown);
    padding: 50px 150px 75px 50px;
}
.our-mission h1{
    color: var(--white-smoke);
    text-shadow: 1px 1px 2px var(--orange-brown);
}
.our-mission p {
    color: var(--orange-brown);
    text-indent: .5em;
    font-family: 'Open Sans';
}

