/*Organize image and text fields*/
main{
    background-color: var(--warm-yellow);
    display: flex;
}
body{
    background-color: var(--warm-yellow);
}


/*image position*/
.img_cat1 {
    float: left;
    padding: 75px 50px 25px 150px;
}
/*set up tesxt display*/
.our-mission {
    color: var(--orange-brown);
    padding: 50px 150px 25px 50px;
}
.our-mission h1{
    color: var(--white-smoke);
    text-shadow: 1px 1px 2px var(--orange-brown);
}
.our-mission p {
    color: var(--orange-brown);
    text-indent: .5em;
    font-family: 'Open Sans';
}

.img_cat2 {
    float: right;
    padding: 150px 150px 75px 50px;
}

.our-impact {
    padding: 0 100px 25px 150px;
}

main {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    box-sizing: border-box;
}

.our-history {
    padding: 0 100px 75px 150px;
}



