
/*======================
    404 page
=======================*/


.page_404{ padding:40px 0; background:#fff; font-family: 'Arvo', serif;
}

.page_404  img{ width:100%;}

.four_zero_four_bg{
    background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 400px;
    background-position: center;
}

.contant_box_404{
    text-align: center;
}

 
.four_zero_four_bg h1{
    font-size:80px;
    text-align: center;
}

.four_zero_four_bg h3{
    font-size:80px;
}
            
.link_404{			 
    color: #fff!important;
    padding: 10px 20px;
    background: #39ac31;
    margin: 20px 0;
    display: inline-block;
}
.contant_box_404{margin-top:-50px;}



body{
background-color: #eeab4f;
color: white;
font-size: 26px;
}

h1{
    text-align: center;
    text-decoration: underline;
    font-weight: bolder;
}

h2{
    text-align: center;
    text-decoration: underline;

}
.info{
    font-size: 2px;
}

.donateCat{
    float: left;
    display: block;
    margin-left: auto;
    margin-right: auto;
   
}
#pngCat{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.counter-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px 50px;
    text-align: center;

}

.counter{
    font-size: 60px;
    margin-top: 10px;

}





@media(max-width: 580px){
    body{
        flex-direction: column;
    }
}