
/*======================
    404 page
=======================*/


.page_404{ padding:40px 0; background:#fff; font-family: 'Arvo', serif;
}

.page_404  img{ width:100%;}

.four_zero_four_bg{
    background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 400px;
    background-position: center;
}

.contant_box_404{
    text-align: center;
}

 
.four_zero_four_bg h1{
    font-size:80px;
    text-align: center;
}

.four_zero_four_bg h3{
    font-size:80px;
}
            
.link_404{			 
    color: #fff!important;
    padding: 10px 20px;
    background: #39ac31;
    margin: 20px 0;
    display: inline-block;
}
.contant_box_404{margin-top:-50px;}

span {
    font-size: 1em;
    font-family: 'Ojuju';
}


main{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.center-image{
    display: flex;
    justify-content: center;
}

.content{
    justify-content: center;
    font-family: 'Open Sans';
    padding: 5% 7% 0% 7%;
}
.content h1, .content h2{
    font-family: 'Ojuju';
    text-shadow: 1px 1px 2px var(--orange-brown);
    font-size: 2em;
}
.content p {
  font-size: 1em;
  text-align: justify;
  color: var(--orange-brown);
  text-indent: .5em;
}

body{
background-color: var(--warm-yellow);
color: white;
}

.title{
    text-align: center;
    text-decoration: underline;
    font-weight: bolder;
    font-size: 2em;
}

h2{
    text-align: center;
    text-decoration: underline;

}
.donateCat{
    float: left;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}
#pngCat{
    display: block;
    margin-left: 5%;
    margin-right: 5%;
}

.counter-container{
    margin: 30px 50px;
    text-align: center;

}

.counter{
    font-size: 60px;
    margin-top: 10px;

}
.col {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 1.75em;
    text-shadow: 1px 1px 2px var(--orange-brown);
}

.space-below{
    padding:30px;
}

@media(max-width: 580px){
    body{
        flex-direction: column;
    }
}

